<section id="Tiers" class="section-default section-extra-padding">
	
	<div class="section-heading heading-wide">
		<h2>Make your homepage stinking awesome.</h2>
	</div>

	<div class="grid-three-fit">

		<div class="card">
			<h3 class="pad">Simple</h3>
			<p><div class="tag">Tier 1</div> $750</p>
			<p class="text-center"><strong>Get noticed.</strong></p>
			
			<a class="default-link button" data-modal="#modalOne">See Simple Example</a>
			<div class="pad"></div>
		</div>



		<div class="card card--special">
			<h3 class="pad">Elite</h3>
			<p><div class="tag">Tier 2</div> $1,500</p>
			<p class="text-center"><strong>Get really noticed.</strong></p>
			
			<a class="default-link button" data-modal="#modalTwo">See Elite Example</a>
			<div class="pad"></div>
		</div>

		

		<div class="card">
			<h3 class="pad">Unbelievable</h3>
			<p><div class="tag">Tier 3</div> $3,000</p>
			<p class="text-center"><strong>Blow everyone else out of the water.</strong></p>
	
			<a class="default-link button" href="#Hero">You'd get a website like this one</a>
			<div class="pad"></div>
		</div>

	</div>

	<div class="pad center-content">
		<h3>Know what you want?</h3><br><br>
		<a href="#" class="action-btn drift-open-chat">Chat with our team</a>
	</div>

</section>