/******************************************************************
Stylesheet: Navigation

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
NAVIGATION STYLES
*********************/

#inner-header nav {
	border: 0;

	ul {
		padding-top: 16px;
		
		li {
			display: inline-block;
			margin: 0px 5px;
		} /* end ul li */ 
	} 
	
} /* end .nav */